body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.calculator {
  background-color: #ffffff;
  width: 150%;
  max-width: 350%; /* Largeur maximale de la calculatrice */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Ombre douce */
  display: flex;
  flex-direction: column;
}

.display {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5em;
  color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 60px; /* Hauteur minimale */
  word-break: break-all;
}


.button-row {
  display: flex;
  justify-content: space-between;
}

.bouton {
  flex-grow: 1;
  margin: 5px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  font-size: 1.2em;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}
.bouton:hover {
  background-color: #e0e0e0;
}

.bouton:active {
  background-color: #d0d0d0;
}

.bouton.operation {
  background-color: #4caf50; /* Vert */
  color: white;
}

.bouton.operation:hover {
  background-color: #43a047;
}

.history-toggle {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.historique {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  right: 10%;
  max-height: 300px;
  width: 15%; /* Largeur fixe pour l'historique */

}


.historique .dark {
  color: white; /* Texte blanc en mode sombre */
}

.historique .light {
  color: black; /* Texte noir en mode clair */
}

.historique h2 {
  font-size: 1.2em;
  color: #333;
}

.dark .calculator {
  background-color: black;
  color: white;
}

.dark .display {
  background-color: #333;
  color: white;
}

.dark .bouton {
  background-color: #666;
  color: white;
}

.dark .bouton:hover {
  background-color: #e06666;
}

