/* App.css */
.app {
  /* Styles communs */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app.light {
  background-color: white; /* Fond blanc en mode clair */
  color: black; /* Texte noir en mode clair */
}

.app.dark {
  background-color: black; /* Fond noir en mode sombre */
  color: white; /* Texte blanc en mode sombre */
}
.calculator {
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 2em;
    min-height: 50px; /* Assurez-vous qu'il y a suffisamment d'espace pour l'affichage */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .bouton {
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
  }
  
  .bouton:hover {
    background-color: #d4d4d4;
  }
  
  .bouton:active {
    transform: scale(0.95);
  }
  
  .bouton.operation {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .bouton.operation:hover {
    background-color: #45a049;
  }
  
  .historique {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .historique h2 {
    font-size: 1.2em;
    color: #333;
  }